
.countries{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 20px;
}
*{
          background-color: rgb(92, 53, 53);
}

.btn{
padding: 8px 12px;
background-color: bisque;
border-radius: 10px;
border: none;
cursor: pointer;
}

